<!DOCTYPE html>
<html>
    <head>
        <title>Hello</title>
        <link rel="stylesheet" type="text/css" href="./style1.css">
    </head>
    <body>
        <h1>Practicing layout</h1>
        <div class="container">
            <div class="box box1">Wonmi</div>
            <div class="box box2">Josh</div>
            <div class="box box3">Shimkung</div>
            <div class="box box4">Luna</div>
            <div class="box box5">Maru</div>
            <div class="box box6">Hehe</div>
        </div>
    </body>
</html>