.App {
  padding: 20px;
}

input {
  padding: 5px 10px;
  font-size: 1em;
  margin-bottom: 10px;
}

.buttons {
  margin-top: 10px;
}

button {
  padding: 10px;
  margin-right: 5px;
  font-size: 1.1em;
  border-radius: 4px;
  border: 1px solid #999999;
}
.reset-btn {
  background-color: red;
  color: white;
}