.Form {
    max-width: 400px;
    margin: 0 auto;
    margin-top:100px;
    padding: 30px;
    border: 1px solid #b7b7b7;
    border-radius: 10px;
}

.Field {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    display: block;
    width: 100%;
}

select {
    padding: 10px;
    display: block;
    width: 100%;
}


h1 {
    margin-bottom: 20px;
}

.Error {
    font-size: .8em;
    /* color: red; */
}

.Field sup {
    color: red;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 30px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 0, 192);

}

button[disabled]{
    background-color: rgb(113, 113, 113);
}