
.feedback-form {
    border: 1px solid #333;
    max-width: 400px;
    padding: 20px;
}
.feedback-form input {
    width: 202px;
}

.stars {
    display: inline-block;
}
.stars svg{
    width: 20px;
    height: 20px;
}

datalist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
  }